
    <div class="card-body-profile">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
          <h5 class="card-title">The list of movies that you created</h5>
          <% @movies.each do |movie| %>
            <p class="card-text-profile"><%= movie.title %></p>
          <% end %>
          <a href="#" class="btn btn-primary">Do you want to edit your profile ?</a>
        </div>
      </div>
    </div>

    <div class="container pt-2">



<div class="card mb-3 p-5 m-5 border-0" style="max-width: 1200px;">
   <div class="row no-gutters">
     <div class="col-md-4">
       <% if @user.avatar.attached? %>
         <%= image_tag @user.avatar, width: "70%" %>
       <% end %>
     </div>
     <div class="col-md-8" style="margin-bottom: 30px;">
       <div class="card-body">
         <h5 class="card-title"><%= @user.first_name %></h5>
         <p class="card-text"><%= @user.last_name %></p>
         <p class="card-text"><small class="text-muted"><%= link_to "Éditer mon profil", edit_user_registration_path(@user.id) %> |
         <%= link_to 'Back', root_path %></small></p>
       </div>
     </div>
   </div>
 </div>
</div>
