<nav class="navbar">
      <div id="section-nav">
        <li><%= link_to 'Accueil', root_path %></li>
        <li><%= link_to 'Movies', movies_path %></li>
        <li><%= link_to 'Team', root_path %></li>
        <li><%= link_to 'Contacts', root_path %></li>
        
        <% if current_user %>
          <li><%= link_to 'Déconnexion', destroy_user_session_path, method: "delete" %></li>
          <li class="profile"><%= link_to 'Profile', profiles_path %></li>
        <% else %>
          <li><%= link_to 'Connexion', new_user_session_path %></li>
          <li><%= link_to 'Inscription', new_user_registration_path %></li>
        <% end %>
      </div>
    </nav>