<h2 class="big-title"> List of Movies</h2>
<div class="container px-5">
  <div class="index__text1 px-5">

    <form class="form-inline my-2 my-lg-0"action="/search">
     <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-succes my-2 mt-sm-0" type="Submit">Search</button>
    </form>

    <form action="/search">
      <label for="lname">titre</label><br>
      <input type="text" name="q"><br><br>
      <button class="btn btn-outline-succes my-2 my-sm-0" type="submit">recherche</button>
    </form>



<h3 class="add-movie"> Want to add a movie ? <%= link_to "Click here", new_movie_path %><i class="fa-solid fa-camera-movie"></i> </h3>
</div>
</div>

    <div class="container d-flex flex-wrap px-5 py-1 ">
          <% @movies.each do |movie| %>
            <div class="card align-item-center px-5" style="width: 18rem;">
            <%= link_to movie do %>
                <%= image_tag(movie.image, style:'width:200px') %>
              <% end %>
            
                <div class="card-body">
                  <p class="card-title lead"><%= movie.title %></p>
                  <small><%= movie.director %><br></small>
                  <small><%= movie.release_date %></small>
                </div>
              <div class="card-footer ">
              </div>
            </div>
          <% end %>
  </div>

