

<%= link_to 'New Movie', new_movie_path %>

  <div class="container d-flex flex-wrap  ">


        <% @movies.each do |movie| %>
        <div class="card align-items-center px-5" style="width: 18rem;">
          <img class="card-img-top" src="https://img.betaseries.com/nqvlwCBtCFlWKvdl80H28hfHMfw=/600x900/smart/https%3A%2F%2Fpictures.betaseries.com%2Ffilms%2Faffiches%2Foriginal%2F158.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= movie.director %></h5>
            
          </div>
          <ul class="list-group list-group-flush">

            <li class="list-group-item"><%= movie.director %></li>
            <li class="list-group-item"><%= movie.director %></li>
          </ul>
          <div class="card-body">
            <button type="button" class="mt-auto  w-70 d-flex btn  btn-primary"><%= link_to 'Read More', movie %></button>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    <% end %>
      </div>
