
<p id="notice"><%= notice %></p>

<div style="width:100px; height:auto">
  <%= link_to image_tag(@movie.movie_picture, style:'width:300px') %>
</div>
<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>
<%= link_to 'Back', movies_path %>
<% if current_user.id == @movie.user.id %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
<% else %>
<% end %>

<div class="container1 px-5 py-5">

        
     <!-- <div class="rating">

        <input type="radio" name="rating" id="r1">
        <label for="r1"></label>

        <input type="radio" name="rating" id="r2">
        <label for="r2"></label>

        <input type="radio" name="rating" id="r3">
        <label for="r3"></label>

        <input type="radio" name="rating" id="r4">
        <label for="r4"></label>

        <input type="radio" name="rating" id="r5">
        <label for="r5"></label>

      </div>
        
      </div> --> 
      <!-- end details -->