<div class="row">
  <div class="col-5">
    <div class="movie_picture">
      <%= link_to image_tag(@movie.movie_picture, style:'width:300px') %>
    </div>
  </div>

  <div class="col-4">
    <h3>
      <strong>Title:</strong>
      <%= @movie.title %>
    </h3>

    <h3>
      <strong>Synopsis:</strong>
      <%= @movie.synopsis %>
    </h3>

    <h3>
      <strong>Director:</strong>
      <%= @movie.director %>
    </h3>

    <h3>
      <strong>Year of Release:</strong>
      <%= @movie.release_date %>
    </h3>

    <div class="edit-movie">
      <%= link_to 'Back', movies_path %>
        <% if current_user.id == @movie.user.id %>
        <%= link_to 'Edit', edit_movie_path(@movie) %>
      <% else %>
      <% end %>
    </div>
    </div>
  </div>
</div>

<div class="container1 px-5 py-5">

        
     <!-- <div class="rating">

        <input type="radio" name="rating" id="r1">
        <label for="r1"></label>

        <input type="radio" name="rating" id="r2">
        <label for="r2"></label>

        <input type="radio" name="rating" id="r3">
        <label for="r3"></label>

        <input type="radio" name="rating" id="r4">
        <label for="r4"></label>

        <input type="radio" name="rating" id="r5">
        <label for="r5"></label>

      </div>
        
      </div> --> 
      <!-- end details -->