
<p id="notice"><%= notice %></p>

<div class="container1 px-5 py-5">

<div class="card mb-3 px-5" style="max-width: 80%;">
  <div class="row no-gutters">
  <div class="col-md-4" style="width:100px; height:auto">
  <%= link_to image_tag(@movie.movie_picture, style:'width:300px') %>
</div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title"><%= @movie.title %></h4>
        <p class="card-text"><p>Director: <%= @movie.director%></p></p>
        <p class="card-text"><p>Year of Release: <%= @movie.year_of_release%></p>
        <p class="card-text"><p>Synopsis: <%= @movie.synopsis%></p></p>
        <p> <%= link_to 'Back', movies_path %> ||
        <% if current_user.id == @movie.user.id %>
        <%= link_to 'Edit', edit_movie_path(@movie) %>
        <% else %>
        <% end %> </p>
      </div>
    </div>

  </div>

</div>


</div>

</div>
