

      <p id="notice"><%= notice %></p>

        
     <!-- <div class="rating">

        <input type="radio" name="rating" id="r1">
        <label for="r1"></label>

        <input type="radio" name="rating" id="r2">
        <label for="r2"></label>

        <input type="radio" name="rating" id="r3">
        <label for="r3"></label>

        <input type="radio" name="rating" id="r4">
        <label for="r4"></label>

        <input type="radio" name="rating" id="r5">
        <label for="r5"></label>

      </div>
        
      </div> --> 
      <!-- end details -->
                        
                        
                  

<div class="container1 px-5 py-5">


<div class="card mb-3 px-5" style="max-width: 80%;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <%= link_to image_tag(@movie.movie_picture, style:'width:300px') %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
                        <h4 class="card-title"><%= @movie.title %></h4>
                        <p class="card-text"><p>Director: <%= @movie.director%></p></p>
                        <p class="card-text"><p>Release date: <%= @movie.release_date%></p>
                        <p class="card-text"><p>Synopsis: <%= @movie.synopsis%></p></p>
                        <p> <%= link_to 'Back', movies_path %> ||
                        <% if current_user.id == @movie.user.id %>
                          <%= link_to 'Edit', edit_movie_path(@movie) %>
                        <% else %>
                        <% end %> </p>
                    </div>

    </div>

  </div>

</div>

</div>